$primary-color: #0070f3;
$primary-color-hover: #0062cc;
$primary-color-active: #003a80;
$secondary-color: #e0e0e0;
$secondary-color-hover: #cacaca;
$secondary-color-active: #a8a8a8;
$danger-color: #d32f2f;
$danger-color-hover: #b71c1c;
$danger-color-active: #7f0000;
$warning-color: #ffcc00;
$warning-color-hover: #e6b800;
$warning-color-active: #cc9900;
$disabled: #cccccc;