.card {
  display: block;
  max-width: 140px;
  min-width: 140px;
  position: relative;
  height: fit-content;
  border-radius: 5px;

  & .productImage {
    width: 100%;

    & img {
      border-radius: 5px;
      width: 100%;
      object-fit: cover;
      margin-bottom: 10px;
    }
  }

  & .info {
    & .name {
      font-size: 12px;
      font-weight: 500;
    }

    & .price {
      font-size: 14px;
      font-weight: 700;
    }

    & .rate {
      display: flex;
      align-items: center;
      font-size: 12px;
      width: 100%;
      gap: 3px;
      color: #aab4c8;

      & div {
        width: auto;
        display: flex;
        gap: 2px;

        & img {
          width: 16px;
        }
      }

      & span {
        border-radius: 100px;
        background-color: #aab4c8;
        width: 3px;
        height: 3px;
      }
    }

    & .location {
      display: flex;
      font-size: 12px;
      color: #aab4c8;

      & img {
        width: 16px;
      }
    }
  }
}