
/* components/Carousel.module.css */

.carousel {
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  width: 100%;
}



.indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.indicator {
  width: 10px;
  height: 10px;
  background-color: gray;
  border: none;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.active {
  background-color: green;
}