.mainMenu {

  & .container1 {
    background-color: white;
    padding: 10px 20px;

    & .headProfile {
      display: flex;
      align-items: center;
      gap: 10px;

      & .infoProfile {
        display: flex;
        flex-direction: column;

        & div:first-child {
          display: flex;
          align-items: center;
          gap: 5px;

          & p {
            font-weight: bold;
            font-size: 16px;
            color: black;
          }

          & img {
            width: 16px;
            object-fit: cover;
          }
        }

        & div:nth-child(2),
        div:nth-child(3) {
          display: flex;
          align-items: center;
          gap: 5px;

          & p {
            font-size: 12px;
            color: black;
          }

          & img {
            width: 16px;
            object-fit: cover;
          }
        }
      }

      & svg {
        font-size: 20px;
        color: black;
        margin-left: auto;
      }

      & img {
        border-radius: 100px;
        object-fit: cover;
        width: 56px;
      }
    }

    & .plus {
      display: flex;
      align-items: center;
      border: solid 1px #cbd5e1;
      border-radius: 10px;
      padding: 5px 10px;
      margin: 10px 0;

      & .imgPlus {
        width: 48px;
        object-fit: cover;
        margin-right: 10px;
      }

      & div p:first-child {
        font-weight: bold;
        color: black;
        font-size: 12px;
      }

      & div p:nth-child(2) {
        font-size: 10px;
      }

      & svg {
        margin-left: auto;
        color: black;
        font-size: 25px;
      }
    }

    & .store {
      display: flex;
      gap: 10px;
      width: 100%;

      & div:first-child,
      div:nth-child(2) {
        display: flex;
        align-items: center;
        border: solid 1px #cbd5e1;
        border-radius: 10px;
        padding: 10px;
        width: 50%;
        color: black;
        font-weight: bold;
        font-size: 12px;

        & svg {
          font-size: 25px;
          margin-left: auto;
        }
      }
    }
  }

  & .container2 {
    background-color: white;
    margin-top: 15px;
    padding: 10px 0;

    & ul li div {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 14px;
      color: black;
      padding: 5px 10px;

      & :nth-child(3) {
        margin-left: auto;
        font-size: 24px;
      }
    }
  }

  & .container3 {
    background-color: white;
    margin-top: 15px;
    padding: 10px 0;

    & ul li div {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 14px;
      color: black;
      padding: 5px 10px;
    }
  }
}