.navbar {
  width: 100%;
  padding: 10px;
  position: sticky;
  top: 0px;
  background-color: white;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  z-index: 2;

  & .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #64748b;
    gap: 20px;
  }

  & .search {
    display: flex;
    align-items: center;
    background-color: white;
    overflow: hidden;
    border: solid 1px #94a3b8;
    border-radius: 10px;
    color: #64748b;

    & .searchIcon {
      margin: 0 10px;
    }

    & .input {
      height: 35px;
      outline: none;
      border: none;
      &:focus {
        outline: none;
      }
    }
  }

  & .menu {
    display: flex;
    font-size: 28px;
  }

  & .profileMenu {
    position: absolute;
    width: 100%;
    left: 0;
    background-color: whitesmoke;
    height: 100vh;
    display: none;
    color: #64748b;
    overflow: scroll;

    & .heading {
      display: flex;
      align-items: center;
      gap: 10px;
      background-color: white;
      border-bottom: solid 0.5px rgba(0, 0, 0, 0.2);
      color: black;

      & h1 {
        font-weight: bold;
      }

      & .closeBtn {
        font-size: 20px;
        padding: 15px 10px;
      }
    }

    & .content {
      height: 100%;
      overflow: scroll;
      scrollbar-width: none;
    }
  }

  & .show {
    display: block;
    overflow: scroll;
    animation: slideInFromBottom 1s forwards;
  }

  & .hide {
    display: none;
  }
}

@keyframes slideInFromBottom {
  0% {
    bottom: -200vh;
  }

  50% {
    bottom: -75vh
  }

  100% {
    top: 0;
  }
}